<div >
    <div class="app-form" *ngIf=showLogin >
        <app-ilustration></app-ilustration>
        <form  (ngSubmit)="onLoginSubmit()">
            <input name="email" type="email" placeholder="Email" class="input" [(ngModel)]="email">
            <input name="password" type="password" placeholder="Password" class="input" [(ngModel)]="password">
            <input  type="submit" value="Login" class="btn-primary" style="background-color:#00af2e;" >
            <input  type="button" (click)="onClickSignup()" value="Sign up" class="btn-primary" style="background-color:#af0029;" >
            <a style="cursor: pointer;" (click)="onClickForgot()"  class="forgot">Forgot your email or password?</a>
        </form>
    </div>

    <div class="app-form" *ngIf=showSignup style="text-align: center;">
        <form (ngSubmit)="onSignupSubmit()">

            <small class="form-text text-muted" style="font-size: 24px;">Sign Up!</small>
            <input name="name" class="input" type="text" placeholder="Name" style="margin-bottom: 5px;" [(ngModel)]="name">
            <input name="birthdate" class="input" type="date" style="margin-bottom: 5px;" [(ngModel)]="birthdate">
            <!--TODO: fix first option, [(ngModel)]="gender" hides it-->
            <select name="gender" class="input" style="margin-bottom: 5px;" [(ngModel)]="gender">
                <option value=""  disabled="disabled" selected="selected">Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Other</option>
            </select>
            <!--TODO: fix first option-->
            <select name="interest" class="input" style="margin-bottom: 5px;" [(ngModel)]="interest">
                <option value=""  disabled="disabled" selected="selected">I'm interested in..</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Both</option>
            </select>

            <input name="email" class="input" type="email" name="email" placeholder="Email" style="margin-bottom: 5px;" [(ngModel)]="email">
            <input name="password" class="input" type="password" name="password" placeholder="Password" style="margin-bottom: 5px;" [(ngModel)]="password">
            <!--<input name="phone" class="input" type="tel" placeholder="Phone number" [(ngModel)]="phone">-->
            <button class="btn btn-primary btn-block" type="submit" style="margin-top: 35px; background-color: rgb(199,146,238);">Sign up!</button>
            <a  style="cursor: pointer;" (click)="onClickLogin()" class="forgot">Have an account? Log in.</a>
        </form>
    </div>

    <div class="app-form" *ngIf=showForgot style="text-align: center;">
        <app-ilustration></app-ilustration>
        <form  (ngSubmit)="onForgotSubmit()">
                <small class="form-text text-muted" style="font-size: 20px;color: rgb(11,11,11);">Forgot your password?<br></small>
                <small class="form-text text-muted" style="font-size: 17px;">Enter your email and we will send you a reset</small>
                <input class="input" type="email" name="email" placeholder="Email" [(ngModel)]="email">
                <button class="btn btn-primary btn-block" type="submit" style="background-color: #76adc2;filter: saturate(100%);">Send Request </button>
        </form>
    </div>

</div>
