<div class="app-form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <small class="form-text text-muted" style="font-size: 24px;">Sign Up!</small>
        <input name="name" class="input" type="text" placeholder="Name" style="margin-bottom: 5px;" formControlName="name" [ngClass]="{ 'is-invalid': submitted && getCtrls.name.errors }">
        <div *ngIf="submitted && getCtrls.name.errors" class="invalid-feedback">
            <div class="error" *ngIf="getCtrls.name.errors.required">Enter name</div>
            <div class="error" *ngIf="getCtrls.name.errors.email">Enter valid name</div>
        </div>
        <input name="birthday" class="input" type="date" style="margin-bottom: 5px;" formControlName="birthday" [ngClass]="{ 'is-invalid': submitted && getCtrls.birthday.errors }">
        <div *ngIf="submitted && getCtrls.birthday.errors" class="invalid-feedback">
            <div class="error" *ngIf="getCtrls.birthday.errors.required">Enter birthday</div>
            <div class="error" *ngIf="getCtrls.birthday.errors.email">Enter valid birthday</div>
        </div>
        <!--TODO: fix first option, [(ngModel)]="gender" hides it-->
        <select name="gender" class="input" style="margin-bottom: 5px;" formControlName="gender">
            <option value=""  disabled="disabled" selected="selected">Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>
        <!--TODO: fix first option-->
        <select name="interest" class="input" style="margin-bottom: 5px;" formControlName="interest">
            <option value=""  disabled="disabled" selected="selected">I'm interested in..</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Both</option>
        </select>

        <input type="email" name="email" id="email-login-input" class="input" placeholder="Enter email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && getCtrls.email.errors }" />
            <div *ngIf="submitted && getCtrls.email.errors" class="invalid-feedback">
                <div class="error" *ngIf="getCtrls.email.errors.required">Enter email</div>
                <div class="error" *ngIf="getCtrls.email.errors.email">Enter valid email</div>
            </div>
        <input name="password" class="input" type="password" placeholder="Password" style="margin-bottom: 5px;" formControlName="password" [ngClass]="{ 'is-invalid': submitted && getCtrls.password.errors }" />
        <div *ngIf="submitted && getCtrls.password.errors" class="invalid-feedback">
            <div class="error" *ngIf="getCtrls.email.errors.required">Enter password</div>
            <div class="error" *ngIf="getCtrls.email.errors.email">Enter valid password</div>
        </div>

      <div>
        <input name="image" type="file" class="file-input" formControlName="image" [ngClass]="{ 'is-invalid': submitted && getCtrls.password.errors }"
               [accept]="requiredFileType"
               (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">
          <div id="filename">
            {{fileName || "No file uploaded yet."}}
          </div>
          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        <span class="progress">
          <mat-progress-bar class="progress-bar" mode="determinate"
                            [value]="uploadProgress" *ngIf="uploadProgress">
          </mat-progress-bar>
          <mat-icon class="cancel-upload" (click)="cancelUpload()"
                    *ngIf="uploadProgress">delete_forever</mat-icon>
        </span>
      </div>
      <br>


      <div *ngIf="failed">
        <div id="errorMsg" class="error">
          Max file size is 1MB
        </div>
      </div>
        <!--<input name="phone" class="input" type="tel" placeholder="Phone number" [(ngModel)]="phone">-->
        <input  type="submit" value="Sign up!" class="btn btn-primary btn-block" style="margin-top: 35px; background-color: rgb(199,146,238);" >
        <!-- <button class="btn btn-primary btn-block" type="submit" style="margin-top: 35px; background-color: rgb(199,146,238);">Sign up!</button> -->
        <a  style="cursor: pointer;" (click)="onLogin()" class="forgot">Have an account? Log in.</a>
    </form>
</div>
