<mat-drawer-container class = "chatMenu">
    <mat-drawer mode="side" opened>
        <br>
        <h3>Online:</h3>
    <div *ngFor="let user of onlineUsers">
        <button (click)="openChatWith(user)" style="width:75%"><mat-icon>message</mat-icon>{{user}}</button><br>
    </div>
    </mat-drawer>

    <mat-drawer-content class = "msgBox">
        <div *ngIf = displayChat>
            <div >
                <h3>{{chatActiveWith}}</h3>
                      poruke........
            </div>
            <div class="msgForm">
                <form >
                    <input type="text" rows="2" style="width: 70%">
                    <input type="submit" value="Send" >
                </form>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

