<mat-drawer-container *ngIf="displayOnline" class = "chatMenu">
    <mat-drawer class="sideNav" mode="side" opened>
        <br>
        <button mat-icon-button class="btnBack" (click)="toHome()"><mat-icon>arrow_left_alt</mat-icon><mat-icon>home</mat-icon></button><br>
    <div *ngIf="displayOnline; else noOnline" class="listMatches">
      <div *ngFor="let user of matches ">
        <button mat-flat-button (click)="openChatWith(user)" class="btnOnline" ><a style="color: #00af2e">•</a> {{user.name}} </button>
      </div>
    </div>
      <ng-template #noOnline>
        <p> No online users.... </p>
      </ng-template>
    </mat-drawer>

    <mat-drawer-content class="msgBox">
        <div *ngIf = displayChat>
            <div>
                <h3>{{chatActiveWith}}</h3>
            </div>
            <div>
              <ul id="messagesList">
              </ul>
            </div>
            <div class="msgForm">
                <input id="idMessageInput"  name="messageInput" type="text" class="inputText">
                <button mat-icon-button (click)="onSend()" style="transform: rotate(180deg); margin-left: 5%;">
                  <mat-icon>send</mat-icon>
                </button>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

