<div class="app-form" >
  <div style="position: absolute">
    <button mat-button  (click)="onHome()">Home</button>
    <br>
    <p>No more candidates...</p>
  </div>
  <div *ngIf="displayCandidates; else no" >
    <div *ngFor="let user of usersShown">
      <mat-card class="example-card" style="position: absolute">
        <mat-card-header>
          <mat-card-title>{{user.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image style="width: min-content" [src]="'/upload/profile/' + user.image" alt="Profile pic">
            <mat-card-content>
            </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button style="color: deepskyblue; background-color: whitesmoke" (click)="onVote(user,false)">Icy cold🧊</button>
          <button mat-raised-button style="color: red ;background-color: coral" (click)="onVote(user,true)">Flaming HOT🚒</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <ng-template #no>
    no users to swipe....
  </ng-template>


</div>
