<div >
    <div class="app-form" >
        <app-ilustration></app-ilustration>
        <form (ngSubmit)="onSubmit()">
            <input name="email" type="email" placeholder="Email" class="input" [(ngModel)]="email">
            <input name="password" type="password" placeholder="Password" class="input" [(ngModel)]="password">
            <input  type="submit" value="Login" class="btn-primary" style="background-color:#00af2e;" >
            <input  type="button" value="Sign up" class="btn-primary" style="background-color:#af0029;" >
            <a href="#"  class="forgot">Forgot your email or password?</a>
            <!--testing: <div>{{email}}<br>{{password}}</div>-->
        </form>
    </div>
</div>