<div >
    <div class="app-form">
        <app-ilustration></app-ilustration>
        <app-form-input name="email" type="email" placeholder="Email"> </app-form-input>
        <app-form-input name="password" type="password" placeholder="Password"></app-form-input>
        <app-form-btn class="btn-primary" color="#00af2e" text="Login"></app-form-btn>
        <app-form-btn class="btn-primary" color="#af0029" text="Sign up"></app-form-btn>
        <app-form-label text="Forgot your email or password?" class="forgot"></app-form-label>
    </div>
</div>