.app-ilustration{
    background-image: url(../../../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    align-self: center;
    width: 120px;
    height: 120px;
    padding: 60px;
    padding-bottom: 20px;
    text-align: center;
}